.dashboard-layout {
  font-family:'Times New Roman', Times, serif;
  display: flex;
  min-height: calc(100vh - 56px); 
  background-color: #f3f4f6;
  color: #111827;
}

.dashboard-content {
  margin-left: 220px; 
  padding: 2rem;
  width: calc(100% - 220px);
}

.dashboard-content h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.dashboard-content p {
  color: #4b5563;
  margin-bottom: 1.5rem;
}