.Hero-wrapper {
    background-image: url('../assets/home-banner2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 50px;
    color: #ff6b00;
    text-align: right;
}

.Hero-wrapper h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.Hero-wrapper h1 span {
    color: green;
}

.Hero-wrapper p {
    font-size: 24px;
    margin-bottom: 30px;
}
.Hero-wrapper button{
    margin-right: 10px;
    padding: 12px 24px;
    font-size: 18px;
}
